# Server Configurations
PORT=5000
NODE_ENV=development

# Database Configurations
# If blank, the server automatically defaults to dynamic in-memory Mock Data Mode
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/midhun_portfolio?retryWrites=true&w=majority

# JWT Configurations
JWT_SECRET=MIDHUN_SAJI_RAM_SECRET_KEY_123

# Cloudinary Configurations (Optional, for asset uploads in CMS)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
